<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235555521653-4ae3johpr024lq7bh8r90vqjiemnj2ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235555521653-4ae3johpr024lq7bh8r90vqjiemnj2ec</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>235555521653-1d1hlrio36kc1dfogqasct7j8i99q5fb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBc69j7X9wrMhAAvdW56gscoqkzmKpFtPg</string>
	<key>GCM_SENDER_ID</key>
	<string>235555521653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aniwatchtv</string>
	<key>PROJECT_ID</key>
	<string>aniwatch-1f64a</string>
	<key>STORAGE_BUCKET</key>
	<string>aniwatch-1f64a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235555521653:ios:bc2b0d294c6392a514243c</string>
</dict>
</plist>